.square{
    width: 100px;
    height: 100px;
    border-color: white;
    border-style: dashed;
    margin: 0 auto;
    border-width: 20px;
    display: block;
}
.blue{
    background-color: blue;

}
.green{
    background-color: green;
   
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}